# __Ques 1__
A Database is nothing but a big storing device that stores our data
1. __SQL DB :__ SQL databases, also known as relational databases, use structured query language (SQL) to store and retrieve data. SQL databases are based on a table-based schema, where each table represents a particular entity, such as customers or orders. Each row in the table represents a specific instance of that entity, and each column represents a specific attribute or property of that entity. SQL databases are highly scalable and provide ACID (Atomicity, Consistency, Isolation, and Durability) compliance, making them suitable for handling large and complex transactions.
2. __NOSQL DB :__ NOSQL Database use a variety of different data models for storing and accessing data, such as document-based, key-value, graph, and column-family databases. NoSQL databases are often used in applications that require flexible data models, fast access to large volumes of data, and high scalability. Unlike SQL databases, NoSQL databases do not use a fixed schema and are often referred to as "schema-less". They do not support ACID transactions, but they offer high availability, scalability, and fault tolerance, making them suitable for use in distributed systems and real-time applications.

# __Ques 2__
__DDL :__ DDL stands for Data Defniation Language, They are used to create data base schema/architecture.DDL is a set of SQL commands used to create, modify, and delete database structures but not data
1. __CREATE :__ This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
2. __DROP :__ This command is used to delete objects from the database.
3. __ALTER :__ This is used to alter/change the structure of the database.
4. __TRUNCATE :__ This is used to remove all records from a table, including all spaces allocated for the records are removed.But not delete the table.

# __Ques 3__
__DML :__ DML stands for Data Manupilation Language. They are used to change teh data base,It is the component of the SQL statement that controls access to data and to the database
1. __INSERT :__ It is used to insert data into a table.
2. __UPDATE :__ It is used to update existing data into a table.
3. __DELETE :__ It is used to delete records from a database table.

# __Ques 4__
__DQL :__ DQL stands for Data Query Language. These statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.
1. __SELECT :__ It is used to retrieve data from the database.

# __Ques 5__
1. __Primary Key :__ These are unique in every rows and are used to uniquley define each row, they are unique fro each row and can never be null for any row.
2. __Foregin Key :__ These keys are used to link to tables in a Relational Data Base Model(RDBMS), primary key of table1 is treated as foregin key for table2 so that every row of table1 now is linked with table2. If you wan to see teh corresponding value of table1 just use foregin key for searching in table1.

# __Ques 6__
1. __cursor() :__ This method returns a pointer in the db so that we can use taht pointer to get the values of table
2. __execute() :__ This method is used to execute a given sql query, this method take sthe sql query in form of string.

In [ ]:
Host = input('Enter your host url ')
User = input('Enter your user name ')
Password =input('Enter your password ')

import mysql.connector 
mydb = myql.connector.connect(
    host=Host,
    user=User,
    password=Password
)
mycursor = mydb.cursor()

# Code

mydb.close()

# __Ques 7__
The order of execution of SQL clauses in an SQL querry is:
1. FROM clause
2. ON clause
3. OUTER clause
4. WHERE clause
5. GROUP BY clause
6. HAVING clause
7. SELECT clause
8. DISTINCT clause
9. ORDER BY clause
10. TOP clause1.